<div class="about">
    <div class="about-img">
        <img src="assets\IMG_20221101_224143_787.jpg" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Frontend Developer</h3>
        <p>I am a skilled web designer. My passion lies in creating captivating website designs and implementing them through frontend development. I take pride in staying up-to-date  with current design trends and leveraging my creativity to produce visually appealing and user-friendly websites.I have developed a deep understanding of user experience (UX) and user interface (UI) principles.By putting myself in the shoes of the end users. I strive to create intutive and seamless browsing experiences. I believe that a well-designed website should not only loovisually appealing but also provide a smooth and enjoyable interaction for vistors. When starting a new project ,i thoroughly research and analyze the target audience and the client's specific requirements. This enable me to taileor my designs to meet thier expectations and deliver a uniqe online presence that aligns with thier brand identity..   </p>
        <a href="" class="btn">Read more..</a>
    </div>
</div>