<div class="contact-section">
    <h2>Contact <span>Me</span></h2>
    <form class="contact-form">
      <div class="form-row">
        <input type="text" placeholder="Full Name" class="input-box">
        <input type="email" placeholder="Email Address" class="input-box">
      </div>
      <div class="form-row">
        <input type="text" placeholder="Mobile Number" class="input-box">
        <input type="text" placeholder="Email subject" class="input-box">
      </div>
      <div class="form-row full-width">
        <textarea placeholder="Your Message" class="input-box textarea-box"></textarea>
      </div>
      <input type="submit" value="Send Message" class="btn">
    </form>

    

</div>