<div class="portfolio  section">
    <h2> Latest <span>Projects</span></h2>
    <div class="portfolio-container">
       <a href="clock/clock.html">
        <div class="portfolio-box">
            <img src="assets\img1.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Analog Clock</h4>
               
               
            </div>
        </div>
       </a>
       <a href="#portfolio">
        <div class="portfolio-box">
            <img src="assets\img2.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
               
            </div>
        </div>
       </a>
       <a href="#portfolio">
        <div class="portfolio-box">
            <img src="assets\img3.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
            </div>
        </div>
       </a>
       <a href="#portfolio">
        <div class="portfolio-box">
            <img src="assets\img4.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
              
            </div>
        </div>
       </a>
       <a href="#portfolio">
        <div class="portfolio-box">
            <img src="assets\img5.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
            </div>
        </div>
       </a>
       <a href="#portfolio">
        <div class="portfolio-box">
            <img src="assets\img6.jpg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
            </div>
        </div>
       </a>
    </div>
</div>