<div class="portfolio" id="portfolio">
    <h2 class="heading">My <span>Projects</span></h2>
  
    <div class="portfolio-container">
      @for (project of projects; track project) {
        <div class="portfolio-box">
          <img [src]="imagePath+project.image" [alt]="project.title">
          <div class="portfolio-layer">
            <a [href]="project.link" target="_blank">
            <h4>{{project.title}}</h4>
            
            </a>
          </div>
        </div>
      }
    </div>
  </div>
  