header
{
  height: 15vh;
/* background-color: aqua; */
width: 100%;
z-index: 999;
position: fixed;
}

.home{
  height: 100vh;

}
.about{
  height: 100vh;

}
.services{
  height: 100vh;
}
.skills{
  height: 100vh;
}
.portfolio{
  height: 100vh;
}