<div class="services  section">
    <h2 class="heading">My <span>Services</span></h2>
    <div class="services-container">
        <div class="services-box">
            <i class="fa-solid fa-code"></i>
            <h3>Web Development</h3>
            <p>I create fast, responsive websites using HTML, CSS and JavaScript. My focus is on clean code and smooth user experience, ensuring every project is both functional and attractive</p>
            <a href="" class="btn">Read more...</a>
        </div>

        <div class="services-box">
            <i class="fa-solid fa-palette"></i>
            <h3>UI/UX Designing</h3>
            <p>I design user interface that are intutive and visually appealing. I strive to craft designs that provide a seamless user experience with a strong emphasis on usability and consistency.</p>
            <a href="" class="btn">Read more...</a>
        </div>

        <div class="services-box">
            <i class="fa-brands fa-android"></i>
            <h3>Web-App Designing</h3>
            <p>I build interactive web application that are scalable and user-friendly. From layout to logic, I ensure your app works flawlessly across devices and delivers real values.</p>
            <a href="" class="btn">Read more...</a>
        </div>
    </div>
</div>